h1 {
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}

main ul {
    display: inline-block;
    text-align: left;
    background-color: none;
    padding: 0.5rem;
}

main li {
    padding: 0.5rem 0;
    font-size: 1.1rem;
    border-bottom: 1px solid #eee;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: peachpuff;
    position: fixed;
    bottom: 0;    
    width: 100%;
    box-sizing: border-box;
}

footer p {
    margin: 0.5rem;
    font-size: 1.0rem;
    color: #555;
}

nav {
    background-color: peachpuff;
    padding: 2rem;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

nav ul { 
    justify-content: center;
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 1rem; 
}

nav a { 
    text-decoration: none; 
    color: #333;
    font-size: 1.5rem;
    padding: 1rem;
    transition: color 0.3s ease;
} 

nav a:hover { 
    color: white;
    
} 

table { 
    border-collapse: collapse; 
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto;
} 

th, td { 
    border: 1px solid #ccc;
    padding: 0.5rem; } 

caption {
 text-align: left; 
 font-weight: bold; 
 margin-bottom: 0.25rem;
 margin-left: 0.5rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form div {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.25rem;    
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline;
    margin-left: 0.25rem;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}


button {
    background-color: peachpuff;
    color: #333;
    padding: 0.75rem 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #ffcba4;
    font-weight: bold;
}


.galleria {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.kuva {
    text-align: center;
    max-width: 300px;
}

.kuva img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.kuva p {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #333;
}

.yhteystiedot {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}